html {
   font-size: 100%; 
   box-sizing: border-box;
}
*,*::after,*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-family: "Public Sans", sans-serif;;
    font-weight: 400;
    overflow-x: hidden;
}

h1 {
    font-size: 40px;
    font-weight:300;
    margin: 0;
    color: $darkBlue;
    @include breakpoint-up(large) {
        font-size: $font-xlg;
    }
}
h2 {
    font-size: 30px;
    font-weight:300;
    margin: 0;
    color: $darkBlue; 
    @include breakpoint-up(medium) {
        font-size: 35px;
    }
    @include breakpoint-up(large) {
        font-size: 40px;
    }
}

p{
    margin: 0;
    font-size: $font-sm;
    font-weight: 300;
    color: $grayishBlue;
    @include breakpoint-up(medium) {
        font-size: $font-med;
    }

}
// Flexbox
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }
    &-jc-c {
        justify-content: center;
    }
    &-ai-c {
        align-items: center;
    }
}

// Anchor tag
a {
    text-decoration: none;
}

button, .button {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    color: $white;
    padding: 13px 34px;
    border-radius: 50px;
    background: linear-gradient(to right, $limeGreen, $brightCyan);

    &::before {
        content: '';
        background-color: rgba($color:#FFFF, $alpha: 0.25);
        position: absolute;
        border-radius: 50px;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0;
        transition: opacity 200ms ease-in-out;
    }
    &:hover::before {
        opacity: 1;
    }

}


//Visibility
.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop{
    @include breakpoint-up(large){
        display: none;
    }
}

.noscroll {
    overflow: hidden;
}

//space
.container {
    max-width: 1110px;
    margin: 0 auto;

    &-padding{
        padding: 70px 25px;
    }
   
    // &-padding-tb {
    //     padding-top: 25px;
    //     padding-bottom: 25px;
    // }
    // &-padding-lr {
    //     padding-left: 22px;
    //     padding-right: 22px;
    // }
  

    @include breakpoint-up(medium) {
        &-padding{
            padding: 100px 115px;
        }
       
        &-padding-tb {
            padding-top: 34px;
            padding-bottom: 34px;
        }
        &-padding-lr {
            padding-left: 22px;
            padding-right: 22px;
        }
        &-padding-trl {
            padding-top: 34px;
            padding-right: 22px;
            padding-left: 22px;
        }
    }
}